<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notepad App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<style>
    body{
        background-color: powderblue;
    }
    .container{
        
        padding-left: 300px;
        padding-top: 20px;
        width: 80%;
    }
</style>
<body>
    <div style="padding-top: 50px;" >
        <h1 class="ui center aligned header">NOTEPAD</h1>
    </div>
    <div class = "container" align = "center">
        <form class="ui form" action="/new" method="post">
            <div class="field">
                <label style="font-size: 15px;"; >Type Here</label>
                <!-- <input type="text" name="title" placeholder="Enter File Path..."><br><br> -->
                <!-- <input type="text" name="name" placeholder="Enter File Name..."><br> -->
                <textarea id="title" name="text" rows="25" cols="25"></textarea>

            </div>
            <button class="ui blue button" type="submit">Save</button><br><br>
        </form>
    </div>

        

</body>

</html>